/*corp de la page*/
​
body {
    font-family: Arial, sans-serif;
    background-color: teal;
    display: block;
    margin: 0;
}
​
/*placement du titre*/
​
#heading {
    border-bottom: 1px solid #000;
    margin: 11px 15px 10px 85px;
}
​
/*largeur du tableau*/
​
#contentbox {
    margin-left: 5%;
    margin-right: 5%;
    top: 50px;
}
​
#content1 {
    width: 60%;
}
#content2 {
    float: right;
    width: 55px;
}
/*cadre du tableaux*/
.section {
    border: 1px solid black;
    margin: 4px;
    max-width: 23%;
    display: inline-block;
    height: 300px;
}
/*les bourdur interieur du tableau
avec la police*/
.section th {
    border: 1px solid black;
    color: #fff;
    background-color: brown;
    font-size: 9.5pt;
}
.section td {
    font-family: Arial, sans-serif;
    font-size: 8.5pt;
    vertical-align: top;
    border: 0;
}
​
/*couleur interieur des bordure*/
​
.subheading2 {
	background-color: #c6e7ef;
}
​
​
​
.evenrow {
    background-color: #eee;
}
​
/*titre*/
h1 {
    margin: 0px;
    padding: 0px;
​
}
​
/*ligne du bas de la page */
.exp {
    font-family: Arial, sans-serif;
    border-top: 1px solid brown;
    font-size: 7.5pt;
    clear: both;
}
/*largeur des case et couleur*/
.values {
    font-family: Arial, sans-serif;
    font-size: 7.75pt;
    background-color: #ffdba1;
    border: 1px solid #ccc;
    padding: 1px;
    margin: 1px;
}
​
​
​
